@use '../mixin/mixin'as *;
@use '../setting/setting'as *;

.c-sub-ttl {
  color: $accent;
  @include font_gilroy;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  position: relative;
  padding-left: 104px;

  @include sp {
    font-size: 14px;
    padding-left: 48px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 72px;
    height: 2px;
    background-color: $accent;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    @include sp {
      width: 32px;
    }
  }
}